body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:460px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:20px;
  width:360px;
  height:440px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:440px;
}
#u1 {
  position:absolute;
  left:2px;
  top:212px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:184px;
  top:40px;
  width:206px;
  height:19px;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:19px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:125px;
  top:233px;
  width:57px;
  height:16px;
  color:#666666;
  text-align:right;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:191px;
  top:228px;
  width:240px;
  height:31px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:31px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u7 {
  position:absolute;
  left:125px;
  top:275px;
  width:57px;
  height:39px;
  color:#666666;
  text-align:right;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:39px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:191px;
  top:271px;
  width:240px;
  height:31px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:31px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u10 {
  position:absolute;
  left:191px;
  top:319px;
  width:209px;
  height:49px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:49px;
}
#u11 {
  position:absolute;
  left:2px;
  top:16px;
  width:205px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:135px;
  top:387px;
  width:300px;
  height:49px;
  overflow:hidden;
  visibility:hidden;
}
#u12_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:49px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:40px;
  color:#FFFFFF;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:40px;
}
#u14 {
  position:absolute;
  left:2px;
  top:12px;
  width:346px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:214px;
  top:69px;
  width:146px;
  height:142px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:142px;
}
#u16 {
  position:absolute;
  left:2px;
  top:63px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
