body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:607px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:131px;
  top:112px;
  width:476px;
  height:355px;
  overflow:hidden;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:355px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:147px;
  top:123px;
  width:365px;
  height:177px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:177px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:468px;
  top:400px;
  width:99px;
  height:40px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
}
#u4 {
  position:absolute;
  left:2px;
  top:4px;
  width:95px;
  word-wrap:break-word;
}
